.mainbody {
    background-color:white;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: "100%";
    border-radius: 5px;
}

div.parentwrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section {
    width: calc(33.33% - 20px);
    padding: 25px;
    box-sizing: border-box;
    background-color: rgb(196, 239, 248);
    margin-bottom: 20px;
    min-height: 60vh;
    margin-top: 40px;
    border-radius: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

div.searchbar {
    min-height: 3vh;
    max-height: 20vh;
    padding: 5px;
    margin-left: 10px;
}

.pokebtn {
    margin-left: 10px;
}

div.searchhistory{
    min-height: 60vh;
    max-height: 60vh;
    overflow: auto;
    text-align: left;
    max-width: 700px;
    display: 'flex';
    justify-content: center;
    align-items: center;
}

div.queryresults {
    max-height: 60vh;
    overflow: auto;
}

.pokebtnHistory {
    margin-left: 40px;
    width: 100px;

}

.historyItem {
    width: 100%;
    margin-bottom: 10px;;
}

.listHistory {
    display: flex;
    justify-content: center;
  }
  
  .list-itemHistoy {
    /* optional: center the item vertically */
    align-items: center;
  }

div.pokedetails{
    min-height: 60vh;
    max-height: 60vh;
    overflow: auto;
}

div.resultarea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultwrapper {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 1em;
    align-items: center;
    justify-content: center;
    height: "100%";
    border-radius: 5px;
    min-height: 60vh;

}

.resultitem {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.resultitem:hover {
    background-color: orange;
}


.itemhighlight {
    color: orange;
}

div.abilityl {
    width: 400px;
}

div.abilitylist {
    background-color: #fed9ff;
    width: 400px;
    min-height: 20vh;
    max-height: 20vh;
    overflow: auto;
    text-align: left;
    padding: 20px;
}

ul.abilitylist{
    width: 350px;
    display: inline-block;
    text-align: left;
    min-height: 13vh;
    max-height: 13vh;
    overflow: auto;
}


div.typelist {
    background-color: #fed9ff;
    width: 400px;
    min-height: 20vh;
    max-height: 20vh;
    overflow: auto;
    text-align: left;
    padding: 20px;
}

ul.typelist{
    width: 350px;
    display: inline-block;
    text-align: left;
    min-height: 13vh;
    max-height: 13vh;
    overflow: auto;
}

div.movelist {
    background-color: #fed9ff;
    width: 400px;
    min-height: 30vh;
    max-height: 30vh;
    overflow: auto;
    text-align: left;
    padding: 20px;
}

ul.movelist{
    width: 350px;
    display: inline-block;
    text-align: left;
    min-height: 30vh;
    max-height: 30vh;
    overflow: auto;
}

.container {
    position: relative;
}
  
.detailspopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(45%, -120%);
    width: 200px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
    border-radius: 5px;
}

.hoverable {
    background-color: rgb(70, 99, 244);
    color:#fff;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
.hoverable:hover + .detailspopup {
    display: block;

}

@media screen and (max-width: 768px) {
    .section {
      width: calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .section {
      width: 100%;
    }
  }